body{
    margin: 10px;
    background-image: url(images/background.jpg);
    background-size:auto;
    color: white;
}


#img1{
    float: left;
    margin: 10px;
    margin-top: 3px;
}
#img2{
    float: right;
    margin: 10px;
}

h2{
    font-size: 28px;
}
h1{
    color: white;
    font-family:'Times New Roman', Times, serif;
    font-size: 35px;
    border-width: 4px;
}

li{
    font-size: 20px;
}
p{
    overflow: hidden;
    font-size: 20px;
}

p::first-letter{
    font-size: 1.3em;
}

.navbar ul{
    list-style-type: none;
    background-color: rgb(45, 44, 44);
    padding: 0px;
    margin: 0px;
    overflow: hidden;
}

.navbar a{
    color: white;
    text-decoration: none;
    padding: 15px;
    display: block;
    text-align: center;
    font-size: 20px;
}

.navbar a:hover{
    background-color: rgb(55, 53, 53);
}

.navbar li{
    float: left;
}

